body{
    min-width: 320px;
    max-width: 480px;
    font-family: sans-serif;
}
.div1
{
    display:flex;
}
h2{
 color: rgb(237, 54, 54); 
 text-align: center; 
 font-weight: lighter;
}
.strike{
    color: red; 
    font-size: 20px;
    text-align: center;
}
.htt{
    font-family: sans-serif;
    font-weight: initial;
    letter-spacing: 0.9px;
    font-size: 35px;
    left: 30px;
    top: 10px;
    position: relative;
}
.btn{
    width:30px;
    height:30px;
    position: relative;
    left: 10px;
    top: 38px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
.row {margin: 0 -5px;}
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 400px;
    position: relative;
    top: 40px;
    left: 28px;
    width: 270px;
    border-radius: 10px ;
    border-style: solid; 
    border-color: rgba(230, 62, 87, 0.674);
}
.container
{    
    padding: 2px 16px;
}
.hr {
    border: 0;
    height: 1px;
    width: 196px;
    position: relative;
    top: -5px;
    left: 38px;
    background-color: black;

}

.btn2{
    width:30px;
    height:30px;
    position: relative;
    top: 130px;
    left: 210px;
}